.u-section-1 .u-sheet-1 {
  min-height: 1228px;
}

.u-section-1 .u-image-1 {
  width: 361px;
  height: 361px;
  background-image: url("images/ProfessionalProfilePic.jpeg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  width: 749px;
  margin: 73px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  width: 803px;
  font-weight: normal;
  margin: 43px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  margin: 43px auto 60px;
  padding: 18px 43px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 749px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 132px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 50px 20px 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 303px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 803px;
  margin: 3px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 24px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 71px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 50px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-3 {
  width: 803px;
  font-size: 1.25rem;
  margin: 0 169px 50px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 758px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 783px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 63px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 883px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 63px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 132px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  margin: 50px 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 266px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  width: 803px;
  font-size: 1.25rem;
  margin: 28px auto 25px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 287px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
  width: 803px;
  font-size: 1.25rem;
  margin: 28px auto 46px;
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}